<h1>Password reset successful</h1>
<p>
  Hello {{ user.name }}, your password has been reset.
</p>

@unless(user.enable_2fa)
  <p>
   Please consider enabling 2fa on your account. https://shiftware.digital/api/v1/enable-2fa
  </p>
@end
