<h1>Password recovery request</h1>
<p>
  Hello {{ user.name }}, it seems someone requested a password recovery
  for your account registered with the email {{ user.email }}.
</p>

<p>
  If it was you, just click this
<a href="https://shiftware.digital/api/v1/reset-password/{{ user.passwordResetToken }}">link</a>
</p>

<p>
  If it wasn't you then we recommend you <em>change your password</em>. Someone may
  have stolen it. 🕵️
</p>
